/* main styles */
.main_container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.font {
    font-family: 'Montserrat', sans-serif;
}



/*  header styles start */

.main_header {
    max-width: 1440px;
    height: 122px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}
.main_header h2 {
    font-size: 34px;
    font-weight: 700;
    color: #054C73;
}

.ul_wrap{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    color:#333333;
    
}
.ul_wrap li{
    padding-left: 40px;
}

/* header styles end */

/* section 1 start */

.banner {
    height: 747.93px;
    background-color: beige;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner_relative {
    position: absolute;
    max-width: 584px;
    width: 100%;
    max-height: 371px;
    height: 100%;
    top: 277px;
    left: 707px;
    border-radius: 10px;
    background-color: #DFE9F4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
}

.banner_relative h2 {
    font-size: 16px;
    font-weight: 600;
    color:#333333;
}

.banner_relative h3 {
    font-size: 52px;
    font-weight: 700;
    color: #054C73;
}

.banner_relative p {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}
.buy_button {
    width: 229px;
    height: 70px;
    border-radius: 50px;
    background-color: #054C73;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
}

.banner_bottom {
    max-width: 1440px;
    height: 150px;
    background-color: #F2F5FF;
    display: flex;
    justify-content: space-around;
    padding-top: 46px;
}
.banner_bottom_box {
    display: flex;
    max-width: 338px;
    max-height: 55px;
}

.banner_bottom_box h2 {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    padding-bottom: 10px;
}
.banner_bottom_box p {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}
.banner_bottom_text {
    padding-left: 20px;
}

.inspiration h2 {
    font-size: 32px;
    color: #333333;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}
.inspiration p {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    text-align: center;
    padding-bottom: 60px;
}

.inspiration_img {
    display: flex;
    justify-content: space-around;
}

.inspiration_img_1,.inspiration_img_3,.inspiration_img_2 {
    width: 355px;
    height: 435px;
}

.inspiration_img_1 {
    margin-top: 50px;
    background-image: url('../img/inspiration\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 100px;
}
.inspiration_img_2 {
    background-image: url('../img/inspiration\ 2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.inspiration_img_3 {
    margin-top: 50px;
    background-image: url('../img/inspiration\ 3.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 50px;
}
.inspiration_img_3 img {
    position: relative;
    left: 125px;
    
}

.banner_2 {
    max-width: 1440px;
    height: 874px;
    background-color: #F2F5FF;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.banner_2_text {
    width: 514px;
    height: 280px;
    margin-top: 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.banner_2_text h2 {
    font-size: 32px;
    font-weight: 700;
    color: #333333;
}
.banner_2_text p {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}
.banner_2_btn {
    width: 228px;
    height: 68px;
    background-color: #054C73;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
}

.banner_2_img {
    margin-top: 60px;
    width: 500px;
    height: 755px;
    background-image: url('../img/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


.range h2 {
    font-size: 32px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.range p {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    text-align: center;
    padding-bottom: 50px;
}

.range_box {
    display: flex;
    justify-content: space-around;
}
.range_box p {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 600;
}

.range_img_radius {
    border-radius: 20px;
}