/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* global */
.main_design {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.font {
    font-family: 'Inter', sans-serif;
}
/* global end */

/* header styles start */
.main_design_header {
    background-color: #F9F1DDB8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 35px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main_design_header span {
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
}
.olivia.font {
    font-weight: 700;
    font-size: 40px;
}


